<h1>Add a new restaurant</h1>

<div>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name, label: "Name" %>
    <%= f.input :address, label: "Adress" %>
    <%= f.input :phone_number, label: "Phone number" %>
    <%= f.input :category, label: "Category", collection: Restaurant::CATEGORY %>
    <%= f.submit "Soumettre", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to "Back", restaurants_path %>
